{% extends 'app.html.twig' %}

{% block body %}
    <div data-role="page" id="default">

        <div data-role="header">
            <h1>{{ page.title }}</h1>
        </div><!-- /header -->

        <div data-role="content" >

            <p>{{ page.content | raw }}</p>



            {% for link in page.links %}
               {% if link.enabled %}
                 {% if link.asPopup == true %}
                   <p><a href="{{ path('app_page', {'pageId': link.id}) }}" data-role="button" data-theme="e" data-rel="dialog" data-transition="pop">{{ link.title }}</a></p>
                 {% else %}
                   <p><a href="{{ path('app_page', {'pageId': link.id}) }}" data-role="button">{{ link.title }}</a></p>
                 {% endif %}
                {% endif %}
            {% endfor %}

            {% if page.id != 1 %}
                <p><a href="#" data-role="button" data-rel="back" data-direction="reverse" data-theme="b">Zur&uuml;ck</a></p>
            {% endif %}


        </div><!-- /content -->


    </div><!-- /page one -->

    </div>
{% endblock %}